<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: auto; width: 40%; line-height: 1.5; font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;">
<div>
    <div style="padding: 1rem 0;">
        <div style="padding: 1.5rem 3.5rem;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                <tbody>
                <tr>
                    <td style="width: 100%; vertical-align: top;">
                        <div>
                            <img src="https://raw.githubusercontent.com/templid/email-templates/main/templid-dynamic-templates/invoice-02/brand-sample.png" style="height: 3rem;" />
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <div style="font-size: 0.875rem;">
                            <table style="border-collapse: collapse; border-spacing: 0;">
                                <tbody>
                                <tr>
                                    <td style="border-right: 1px solid #e5e7eb; padding-right: 1rem;">
                                        <div>
                                            <p style="white-space: nowrap; color: #94a3b8; text-align: right;">Date</p>
                                            <p style="white-space: nowrap; font-weight: 700; color: #5c6ac4; text-align: right;" th:text="${invoice.dueDate}"></p>
                                        </div>
                                    </td>
                                    <td style="padding-left: 1rem;">
                                        <div>
                                            <p style="white-space: nowrap; color: #94a3b8; text-align: right;">Invoice #</p>
                                            <p style="white-space: nowrap; font-weight: 700; color: #5c6ac4; text-align: right;" th:text="${invoice.invoiceNo}"></p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="background-color: #f1f5f9; padding: 1.5rem 3.5rem; font-size: 0.875rem;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                <tbody>
                <tr>
                    <td style="width: 50%; vertical-align: top;">
                        <div style="font-size: 0.875rem; color: #525252;">
                            <p style="font-weight: 700;">Supplier Company INC</p>
                            <p th:text="'Title' + ${company.title}"></p>
                            <p th:text="'Phone' + ${company.phone}"></p>
                            <p th:text="'Website' + ${company.website}"></p>
                            <p th:text="'Address' + ${company.address.addressLine1}" style="white-space: nowrap;">Port Orlofurt, 05820</p>
                            <p th:text="'Country' + ${company.address.country}" style="white-space: nowrap;">United States</p>
                        </div>
                    </td>
                    <td style="width: 50%; vertical-align: top; text-align: right;">
                        <div style="font-size: 0.875rem; color: #525252;">
                            <p style="font-weight: 700;">Supplier Company INC</p>
                            <p th:text="'Title' + ${invoice.clientVendor.name}"></p>
                            <p th:text="'Phone' + ${invoice.clientVendor.phone}"></p>
                            <p th:text="'Website' + ${invoice.clientVendor.website}"></p>
                            <p th:text="'Email' + ${invoice.clientVendor.email}"></p>
                            <p th:text="'Address' + ${invoice.clientVendor.address.addressLine1}" style="white-space: nowrap;">Port Orlofurt, 05820</p>
                            <p th:text="'Country' + ${invoice.clientVendor.address.country}" style="white-space: nowrap;">United States</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="padding: 2.5rem 3.5rem; font-size: 0.875rem; color: #404040;">
            <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                <thead>
                <tr>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.75rem; font-weight: 700; color: #5c6ac4;">#</td>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.5rem; font-weight: 700; color: #5c6ac4;">Product details</td>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.5rem; text-align: right; font-weight: 700; color: #5c6ac4;">Price</td>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.5rem; text-align: center; font-weight: 700; color: #5c6ac4;">Qty.</td>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.5rem; text-align: center; font-weight: 700; color: #5c6ac4;">Tax</td>
                    <td style="border-bottom: 2px solid #5c6ac4; padding-bottom: 0.75rem; padding-left: 0.5rem; text-align: right; font-weight: 700; color: #5c6ac4;">Total</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invoiceProduct, iStat : ${invoiceProducts}">
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.75rem;" th:text="${iStat.count}">1.</td>
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.5rem;" th:text="${invoiceProduct.product.name}">Monthly accounting services</td>
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.5rem; text-align: right;" th:text="${invoiceProduct.product.price}">$150.00</td>
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.5rem; text-align: center;" th:text="${invoiceProduct.quantity}">1</td>
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.5rem; text-align: center;" th:text="${invoiceProduct.tax}">20%</td>
                    <td style="border-bottom: 1px solid #e5e7eb; padding: 0.75rem 0.5rem; text-align: right;" th:text="${invoiceProduct.total}">$180.00</td>
                </tr>
                <tr>
                    <td colspan="6" style="padding: 0.75rem;">
                        <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
                            <tbody>
                            <tr>
                                <td style="text-align: right; padding: 0.75rem; color: #94a3b8;">Net total:</td>
                                <td style="text-align: right; padding: 0.75rem; font-weight: 700; color: #5c6ac4;">$320.00</td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding: 0.75rem; color: #94a3b8;">VAT total:</td>
                                <td style="text-align: right; padding: 0.75rem; font-weight: 700; color: #5c6ac4;">$64.00</td>
                            </tr>
                            <tr>
                                <td style="text-align: right; padding: 0.75rem; background-color: #5c6ac4; font-weight: 700; color: #fff;">Total:</td>
                                <td style="text-align: right; padding: 0.75rem; background-color: #5c6ac4; font-weight: 700; color: #fff;">$384.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>