<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
</head>
<body
        style="
      margin: 0;
      background-color: #fafaf9;
      font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
      color: #292524;
      line-height: 1.1;
    "
>
<table
        cellpadding="0"
        cellspacing="0"
        style="
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fafaf9;
      "
>
    <tr>
        <td style="padding: 1rem">
            <!-- Header Section -->
            <table
                    cellpadding="0"
                    cellspacing="0"
                    style="width: 100%; margin-bottom: 1rem"
            >
                <tr>
                    <td style="width: 60%">
                        <h1
                                style="
                    font-size: 1.2rem;
                    color: #292524;
                    margin-bottom: 0.5rem;
                  "
                        >
                            Invoice
                        </h1>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                                th:text="'Invoice # ' + ${invoice.invoiceNo}"
                        ></p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                                th:text="'Date of Issue: ' + ${invoice.dateOfIssue}"
                        ></p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                                th:text="'Due Date: ' + ${invoice.dueDate}"
                        ></p>
                    </td>
                </tr>
            </table>

            <!-- Products Table -->
            <table
                    cellpadding="0"
                    cellspacing="0"
                    style="
              width: 100%;
              border-collapse: collapse;
              margin-bottom: 1rem;
              font-size: 0.75rem;
              border: 1px solid #e7e5e4;
              border-radius: 0.25rem;
              overflow: hidden;
            "
            >
                <thead>
                <tr style="background-color: #292524; color: #fafaf9">
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Category
                    </th>
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Product
                    </th>
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Price
                    </th>
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Quantity
                    </th>
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Unit
                    </th>
                    <th
                            style="
                    padding: 0.5rem;
                    text-align: left;
                    font-weight: 700;
                    border-right: 1px solid #44403c;
                  "
                    >
                        Tax %
                    </th>
                    <th style="padding: 0.5rem; text-align: left; font-weight: 700">
                        Line Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="invoiceProduct, iStat : ${invoiceProducts}">
                    <tr style="background-color: #fafaf9">
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.product.category.description}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.product.name}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.product.price}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.quantity}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.product.productUnit}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                    "
                                th:text="${invoiceProduct.tax}"
                        ></td>
                        <td
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      border-bottom: 1px solid #e7e5e4;
                      color: #292524;
                      font-weight: 700;
                    "
                                th:text="${invoiceProduct.total}"
                        ></td>
                    </tr>
                    <tr th:if="${invoiceProduct.description != null}">
                        <td
                                colspan="7"
                                style="
                      padding: 0.5rem;
                      text-align: left;
                      font-style: italic;
                      background-color: #f5f5f4;
                      color: #57534e;
                      font-size: 0.75rem;
                    "
                        >
                            Description:
                            <span th:text="${invoiceProduct.description}"></span>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <!-- Notes, Terms, and Totals Section -->
            <table
                    cellpadding="0"
                    cellspacing="0"
                    style="width: 100%; margin-bottom: 1rem"
            >
                <tr>
                    <td style="width: 50%; vertical-align: top">
                        <table
                                cellpadding="0"
                                cellspacing="0"
                                style="width: 100%; margin-bottom: 0.5rem"
                        >
                            <tr>
                                <td
                                        style="
                        background-color: #f5f5f4;
                        padding: 0.75rem;
                        border-radius: 0.5rem;
                      "
                                >
                                    <h3
                                            style="
                          color: #292524;
                          margin-bottom: 0.5rem;
                          font-size: 0.85rem;
                          font-weight: 700;
                        "
                                    >
                                        Notes:
                                    </h3>
                                    <p
                                            style="color: #57534e; margin: 0; font-size: 0.75rem"
                                            th:text="${invoice.notes}"
                                    ></p>
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                            <tr>
                                <td
                                        style="
                        background-color: #f5f5f4;
                        padding: 0.75rem;
                        border-radius: 0.25rem;
                      "
                                >
                                    <h3
                                            style="
                          color: #292524;
                          margin-bottom: 0.5rem;
                          font-size: 0.85rem;
                          font-weight: 700;
                        "
                                    >
                                        Payment Terms:
                                    </h3>
                                    <p
                                            style="color: #57534e; margin: 0; font-size: 0.75rem"
                                            th:text="${invoice.paymentTerms}"
                                    ></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 50%; vertical-align: top">
                        <table
                                cellpadding="0"
                                cellspacing="0"
                                style="width: 70%; margin-left: auto"
                        >
                            <tr>
                                <td
                                        style="
                        background-color: #f5f5f4;
                        border-radius: 0.25rem;
                        overflow: hidden;
                      "
                                >
                                    <table
                                            cellpadding="0"
                                            cellspacing="0"
                                            style="width: 100%"
                                    >
                                        <tr>
                                            <td
                                                    style="
                              padding: 0.5rem 0.75rem;
                              border-bottom: 1px solid #e7e5e4;
                            "
                                            >
                                                <table
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        style="width: 100%"
                                                >
                                                    <tr>
                                                        <td style="color: #57534e; font-size: 0.75rem">
                                                            Subtotal:
                                                        </td>
                                                        <td
                                                                style="
                                    color: #292524;
                                    font-weight: 700;
                                    font-size: 0.75rem;
                                    text-align: right;
                                  "
                                                                th:text="${invoice.price}"
                                                        ></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                    style="
                              padding: 0.5rem 0.75rem;
                              border-bottom: 1px solid #e7e5e4;
                            "
                                            >
                                                <table
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        style="width: 100%"
                                                >
                                                    <tr>
                                                        <td style="color: #57534e; font-size: 0.75rem">
                                                            Tax:
                                                        </td>
                                                        <td
                                                                style="
                                    color: #292524;
                                    font-weight: 700;
                                    font-size: 0.75rem;
                                    text-align: right;
                                  "
                                                                th:text="${invoice.tax}"
                                                        ></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                    style="
                              padding: 0.5rem 0.75rem;
                              background-color: #292524;
                            "
                                            >
                                                <table
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        style="width: 100%"
                                                >
                                                    <tr>
                                                        <td
                                                                style="
                                    color: #fafaf9;
                                    font-weight: 700;
                                    font-size: 0.75rem;
                                  "
                                                        >
                                                            Total:
                                                        </td>
                                                        <td
                                                                style="
                                    color: #fafaf9;
                                    font-weight: 700;
                                    font-size: 0.75rem;
                                    text-align: right;
                                  "
                                                                th:text="${invoice.total}"
                                                        ></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <!-- Address Section -->
            <table
                    cellpadding="0"
                    cellspacing="0"
                    style="width: 100%; margin-bottom: 1rem"
            >
                <tr>
                    <td style="width: 45%; vertical-align: top">
                        <h2
                                style="
                    color: #292524;
                    margin-bottom: 0.5rem;
                    font-size: 0.9rem;
                    font-weight: 700;
                  "
                        >
                            Bill To:
                        </h2>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Company Name:</strong>
                            <span th:text="${invoice.company.title}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Phone:</strong>
                            <span th:text="${invoice.company.phone}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Website:</strong>
                            <span th:text="${invoice.company.website}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Email:</strong>
                            <span th:text="${invoice.company.email}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Country:</strong>
                            <span th:text="${invoice.company.address.country}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>City:</strong>
                            <span th:text="${invoice.company.address.city}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Address:</strong>
                            <span
                                    th:text="${invoice.company.address.addressLine1}"
                            ></span>
                        </p>
                    </td>
                    <td style="width: 45%; vertical-align: top; text-align: right">
                        <h2
                                style="
                    color: #292524;
                    margin-bottom: 0.5rem;
                    font-size: 0.9rem;
                    font-weight: 700;
                  "
                        >
                            Business Information:
                        </h2>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Company Name:</strong>
                            <span th:text="${invoice.clientVendor.name}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Phone:</strong>
                            <span th:text="${invoice.clientVendor.phone}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Website:</strong>
                            <span th:text="${invoice.clientVendor.website}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Email:</strong>
                            <span th:text="${invoice.clientVendor.email}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Country:</strong>
                            <span
                                    th:text="${invoice.clientVendor.address.country}"
                            ></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>City:</strong>
                            <span th:text="${invoice.clientVendor.address.city}"></span>
                        </p>
                        <p
                                style="
                    margin-bottom: 0.25rem;
                    color: #57534e;
                    font-size: 0.75rem;
                  "
                        >
                            <strong>Address:</strong>
                            <span
                                    th:text="${invoice.clientVendor.address.addressLine1}"
                            ></span>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>